*{
    padding: 0;
    margin: 0;
}


body,html{
    background: #121212;
    height: 100%;
}

#top_bar{
    height: 6%;
    width: 100%;
}

.nav{
    height: 100%;
    width: 40%;
    margin-left: 30%;
    display: inline-block;
}

.nav ul, .nav li{
    list-style: none;
    display: inline-block;
}

.nav ul{
    width: 100%;
    height: 100%;
}

.nav ul li{
    width: 20%;
    height: 100%;
}

.nav ul li a{
    display: inline-block;
    height: 100%;
    width: 100%;
    text-align: center;
    padding-top: 15%;
    font-size: 1vw;
    vertical-align: middle;
    text-decoration: none;
    color: #C9AA71;
    transition: color 1s cubic-bezier(.06,.81,0,.98);
}

#login a{
    display: inline-block;
    height: 100%;
    width: 100%;
    text-align: center;
    padding-top: 12%;
    font-size: 1vw;
    vertical-align: middle;
    text-decoration: none;
    color: #C9AA71;
    transition: color 1s cubic-bezier(.06,.81,0,.98);
}

.nav ul li a:hover,#login:hover > a{
    color: #F1E6D0;
}

#login{
    cursor: pointer;
    height: 100%;
    display: inline-block;
    width: 10%;
    margin-left: 15%;
    color: #C9AA71;
}
