.Announcements{
    color: black;
    width: 50%;
    height: 100%;
    margin: 0 auto;

}

#ann_bai{
    background: url("../img/annun.jpg") no-repeat ;
    background-size: 100% auto;
    height: 81%;
    width: 100%;
    padding: 30px 20px;
    overflow: hidden;
}

.annList{
    height: 80%;
    overflow: auto;
    margin-top: 20px;
}

.ann{
    height: auto;
    margin-top: 20px;
    width: 80%;
    padding: 10px 20px;
}

#newAnn input {
    width: 200px;
    padding-right: 15px;
    height: 30px;
    line-height: 30px;
    font-size: 12px;
    border: 1px solid #c9cacb;
}

#newAnn button{
    width: 50px;
    height: 30px;
    border-width: 0px;
    border-radius: 3px;
    background: #1E90FF;
    cursor: pointer;
    outline: none;
    font-family: Microsoft YaHei;;
    color: white;
    font-size: 15px;
    margin-top: 5px;
}