*{
    margin:0;
    padding: 0;
}

.Announcements{
    color: black;
    width: 48%;
    height: 100%;
    padding: 0 5%;
    margin: 0 auto;

}

.Announcements > h1{
    font-family: UnifrakturCook, serif;
    font-size: 2vw;
    margin:0 auto;
    text-align: center;
}

#ann_bai{
    background: url("../img/annun.jpg") no-repeat ;
    background-size: 100% auto;
    height: 90%;
    width: 100%;
    padding: 1% 0;
    overflow: hidden;
}

.annList{
    height: 80%;
    overflow: auto;
    margin-top: 2%;
}

.ann{
    height: auto;
    margin-top: 2vh;
    width: 80%;
    padding: 10px 20px;
    border-bottom: 1px solid black;
}

.ann h3, .ann p{
    font-size: 1vw;
}

.ann p{
    text-align: right;
    color: #a09b8c;
}


#newAnn textarea {
    width: 80%;
    resize: none;
    height: 20%;
    padding-right: 15px;
    font-size: 1vw;
    border: 1px solid #c9cacb;
}

#newAnn button{
    display: block;
    width: 10%;
    height: 20%;
    border-width: 0px;
    border-radius: 3px;
    background: #1E90FF;
    cursor: pointer;
    outline: none;
    font-family: Microsoft YaHei;;
    color: white;
    font-size: 15px;
    margin-top: 5px;
}