.Message:nth-of-type(even){
    color: #000;
    background-color: #FFFFFF;
}

.Message:nth-of-type(odd){
    color: #000;
    background-color: #E1E4DE;
}

.body {
    margin-top: 1rem;
}

.MessageList{
    background: url("../img/forum.jpg") no-repeat;
    background-size: 100%;
}

.MessageList *{
    opacity:0.9;
}
