
.MainPage{
    background: url("../img/mainPage.jpg") fixed no-repeat;
    background-size: cover;
    height: 94%;
    width: 100%;
    overflow: hidden;
    /* white-space: pre; */
}

#left{
    box-sizing: border-box;
    color: #C9AA71;
    height: 100%;
    width: 60%;
    display: inline-block;
    vertical-align: top;
    padding-left: 10%;
    padding-top: 10%;
}

#right{
    box-sizing: border-box;
    height: 100%;
    width: 40%;
    padding: 5% 5%;
    display: inline-block;
}

#mainPageTitle{
    font-size: 3vw;
    text-shadow: 2px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

#mainPageContent{
    font-size: 1.5vw;
    width: 50%;
    text-shadow: 1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;

}

.pics{
    background-color: antiquewhite;
    box-sizing: border-box;
    border: 2px blanchedalmond solid;
    height: 46%;
    width: 46%;
    margin:1%;
    display: inline-block;
}

.pics img{
    box-sizing: border-box;
    height: 50%;
    width: 100%;
}

.pics a{
    text-decoration: underline;
    color: #000;
    font-size: 1.2vw;
    padding-left: 5%;
    padding-top: 2vh;
    box-sizing: border-box;
    height: 6%;
    width: 100%;
}

.pics p{
    color: #000;
    font-size: 1vw;
    padding-left: 5%;
    padding-top: 3%;
    box-sizing: border-box;
    height: 44%;
    width: 100%;
}