body{
    overflow: auto;
}

.Schedule{
    height: 94%;
    width: 100%;
    overflow: hidden;
}

.scheduleTitle{
    display: inline-block;
    padding-left: 10%;
    height: 6%;
    width: 15%;
    color: navajowhite;
    font-size: 2vw;
}
#toNew{
    display: inline-block;
}

.eventList{
    width: 100%;
    height: 94%;
}

.closedEvents{
    display: inline-block;
    height: 50%;
    width: 50%;
    color: navajowhite;
    background: url("../img/closed.jpg");
    background-size: cover;
    overflow: hidden;
}

.confirmedEvents{
    display: inline-block;
    height: 50%;
    width: 50%;
    color: navajowhite;
    background: url("../img/confirmed.jpg");
    background-size: cover;
    overflow: hidden;
}

.openEvents{
    height: 50%;
    width: 100%;
    overflow: hidden;
    color: navajowhite;
    background: url("../img/open.jpg");
    background-size: cover;
}

.eventBlock > h2{
    height: 4%;
    font-size: 1vw;
    margin-left: 2vw;
    display: block;
}

.eventsContainer{
    height: 80%;
    width: 80%;
    margin: 4% auto;
    box-sizing: border-box;
    overflow-x: auto;
    overflow-y: hidden;
    white-space: nowrap
}

.openEvents > .eventsContainer{
    margin: 2% auto !important;
}

.events{
    height: 95%;
    width: 45%;
    margin-left: 5%;
    overflow: hidden;
    display: inline-block;
    background-color: #121212;
    box-sizing: border-box;
    border-radius: 2%;
    padding: 1% 2%;
    white-space: pre;
}

.openEvents > .eventsContainer > .events{
    width: 22.5% !important;
    margin-left: 2.5% !important;
    border: 1px solid greenyellow;
}

.closedEvents > .eventsContainer > .events{
    border: 1px solid red;
}

.confirmedEvents > .eventsContainer > .events{
    border: 1px solid deepskyblue;
}

.eventName{
    box-sizing: border-box;
    display: inline-block;
    font-size: 1.5vw;
    height: 10%;
}

.removeEvent{
    vertical-align: bottom;
    box-sizing: border-box;
    display: inline-block;
    height: 10%;
    overflow: hidden;
    width: 10%;
    margin-left: 10%;
}

.events h4{
    margin-top: 1vh;
    font-size: 0.7vw;
    height: 2vh;
}

.editStatus *{
    display: inline-block;
}

.editStatus select{
    height: 2vh;
    width: 30%;
    font-size: 0.5vw;
    /* position: relative */
}

.playerLists ul, .playerLists li{
    list-style: none;
}

.playerLists li{
    margin-top: 0.5vh;
    height: 3vh;
}

.playerLists h4, .playerLists button{
    display: inline-block;
}

.playerLists button{
    margin-left: 2vw;
    width: 25%;
    height: 2vh;
    font-size: 1vh;
}

.editStatus{
    height: 2vh;
}

.player{
    display: inline-block;
    margin-left: 1vw;
    font-size: 0.7vw;
    white-space: pre;
}