.UserInfo {
    cursor: pointer;
    height: 100%;
    display: inline-block;
    width: 15%;
    margin-left: 15%;
    color: #C9AA71;
}

.UserInfo a {
    display: inline-block;
    height: 100%;
    text-align: center;
    padding-top: 8%;
    font-size: 1vw;
    vertical-align: middle;
    text-decoration: none;
    color: #C9AA71;
    transition: color 1s cubic-bezier(.06,.81,0,.98);
}

.UserInfo a:hover{
    color: #F1E6D0;
}